input:not([type=submit]):valid {
    border-color: green;
}

input:not([type=submit]):invalid {
    border-color: red;
}


form span.required:before {
    color: red;
    content: " * ";
}

span.helper {
    font-size: .5em;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    color: red;
    vertical-align: super;
    transition: all .2s;
    opacity: 0;
}

div:hover span.helper {
    opacity: 1;
}

/*
Applied via the javascript in js/focus-show-hint.js
*/
.helper-visible {
    opacity: 1 !important;
}
