html, body {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #3a3a3a;
    display: grid;
    justify-items: center;
    align-items: center;
}

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.container, main {
    width: 90%;
    height: 95%;
    display: grid;
    justify-items: center;
    align-items: center;
    /* max-width: 800px; */
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-left: auto;
    margin-right: auto;
    /* min-height: 100vh; */
    /* padding-top: 2em; */
    background-color: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}

header h1 {
    margin-bottom: 0;
    font-weight: lighter;
    font-size: 5.5em;
    margin-top: 0;
}


header p {
    margin-top: -5px;
    font-size: 1.8em;
    font-weight: lighter;
    letter-spacing: 4px;
    font-variant-caps: all-petite-caps;
}

.signin {
    margin-top: 20px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 3px;
}
